@import "../node_modules/bootstrap/scss/bootstrap.scss";

.title {
  color: $purple-500 !important;
}

.cursor {
  cursor: pointer;
}

.first_section {
  height: 90vh;
  h2 {
    color: $purple-500 !important;
  }
}

.links {
  a {
    color: $gray-600;
  }
}
